<doctype html>
	<html>
	<title>Jotform Machine Translation | Form Creator</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<body>
	
		<header class="w3-container w3-teal">
		  <h1>Jotform Machine Translation</h1>
		</header>
		
		<div class="w3-container w3-half w3-margin-top">
		<form class="w3-container w3-card-4">
			<p>
				<p><a href="{{ url_for('.add_user_view') }}"> Create Translated HTML </a></p>
			</p>

			<p>
				{% with messages = get_flashed_messages() %}
				  {% if messages %}
					<ul class=flashes>
					{% for message in messages %}
					  <li>{{ message }}</li>
					{% endfor %}
					</ul>
				  {% endif %}
				{% endwith %}
			</p>
		</form>
		</div>
	
	</body>
	</html> 
